html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFEBEB;
}

a {
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D7A7AA;
    z-index: 100;
    width: 100%;
}

#logo{
    width: 168;
}

#hamburger{
    scale: 0.35;
    padding-left: 3rem;
}

button{
    background-color: transparent;
    border: none
}

button:hover{
    cursor: pointer;
}

.expandedMobileNav{
    position: fixed;
    top: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #D7A7AA;
    z-index: 3;
    width: 100%;
    height: 10rem;
}

.expandedMobileNav a {
    padding-bottom: 1rem;
    font-family: "Jost", sans-serif;
    color: white;
}

#expandedNav {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#expandedNav.open{
    visibility: visible;
    opacity: 1;
}

.expandedLink:hover{
    color: rgb(187, 36, 87);
}

.welcome, .services, .visit-us{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    color: #552611;
    width: 100%;
}

.anchor-spacer {
    position: relative;
    top: -100px;  /* amount of scroll offset you want */
    height: 0;
    visibility: hidden;
  }  

#contactUs{
    scroll-margin-top: 50px;
}

.welcome h2, .services h2, .services-expanded h2, .contact h2{
    font-family: "Corinthia", cursive;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    margin-bottom: 0;
}

.welcome h1{
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    color: #C39C00;
    margin-top: 0;
}

.imgCarousel{
    position: relative;
    margin: 0 auto;
    margin-top: 1rem; 
    width: 15rem;
    height: 15rem;
}

.carousel-square{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -1rem;
    background-color: #E8CDCC;
    border-radius: 2rem;
    border: 2px double white;
}

#carouselImage{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 2%;
    left: 8%;
    width: 85%;
    height: 85%;
    object-fit: cover;
    z-index: 1;
    border-radius: 0.8rem;
}

#carouselImage.fade-in{
    opacity: 1;
}

.welcome p{
    font-family: "Jost", sans-serif;
    letter-spacing: 0.01rem;
    width: 85%;
    margin: 0.6rem auto;
}

.welcome p+p{
    margin-top: 0.3rem;
    padding-bottom: 3rem;
}

/* services revamp */

.services {
    margin-top: -2rem;
    background-color: #F6D2D1;
}

.services h2, .contact h2, .services-expanded h2, .contact h3+h3 {
    color: rgb(187, 36, 87)
}

.services h3, .contact h3 {
    width: 80%;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: -0.2rem;
}

.service-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.1rem 1.8rem 1rem 2rem;
    border-left: 2px double white;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.service-selection button {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    color: #552611;
    padding: 0.2rem 0.2rem;
}

.service-selection .activeService{
    color: rgb(187, 36, 87);
}

#waxingContainer{
    margin-bottom: 2rem;
}

.services-expanded .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.services-expanded h2{
    text-align: center;
    padding-bottom: 1rem;
}

.services-grid{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    font-family: "Jost", sans-serif;
}

.service-category{
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    border: 3px solid #D7A7AA;
    margin-bottom: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.service-category.is-visible{
    opacity: 1;
}

.service-category h3{
    font-family: "Jost", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    color: #552611;
    margin: 0 auto;
}

.service-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0.3rem;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #F6D2D1;
}

.service-item h4{
    color: #552611;
    margin: 0;
    font-size: 1.2rem;
}

.service-item p{
    font-size: 1rem;
    color: #6b7280;
    font-style: italic;
    margin-top: 0.25rem;
}

.service-item .price {
    font-size: 1.2rem;
    color: #C39C00;
    /* margin-top: 0.5rem; */
}

.service-details{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.same-line{
    display: flex;
    justify-content: space-between;
}

.service-details .service-details-subitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.service-details.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.service-details .item p {
    margin: 0;
  }

  .service-details h4 {
    margin-bottom: 0.5rem;
  }

  .services-grid .service-category:last-child {
    margin-bottom: 0;
  }

  .service-item:last-child{
    border: none;
  }

  .showCategory{
    display: block;
  }

/* contact section */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFEBEB
}

.contact h2{
    padding-bottom: 0;
}

.contact h3, .contact p{
    font-family: "Jost", sans-serif;
    text-align: center;
}

.contact h3+h3{
    font-family: "Cormorant Infant", serif;
    font-size: 1.3rem;
    padding-top: 1rem;
    margin-top: -0.4rem;
}

.phone, .contact h3+h3{
    font-weight:500;
}

.days{
    margin-top: -1.8rem;
    padding-bottom: 0.3rem;
}

.contact p{
    margin-bottom: 0;
}

.contact p+p{
    margin-top: 0.3rem;
}

iframe{
    margin-top: 1rem;
}

.address{
    padding-bottom: 1rem;
}

footer{
    font-family: "Jost", sans-serif;
    font-size: 0.8rem;
    background-color: #D7A7AA;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p{
    width: 85%;
    margin: 0 auto;
}

/* @media (min-width: 494px){
    .welcome h2, .services-overview h2, .services-expanded h2, .contact h2{
        letter-spacing: 0.1rem;
        font-size: 3.3rem;
    }
    
    .welcome h1{
        font-size: 2.4rem;
        letter-spacing: 0.15rem;
    }
    
    .welcome p {
        width: 80%;
        font-size: 1.2rem;
    }

    .services-overview h3, .contact h3 {
        width: 80%;
        font-size: 1.3rem;
    }

    .serviceName {
        padding: 0.5rem 1.3rem;
        margin: 1rem 0;
        font-size: 1.1rem;
    }

    #enhancementsButton{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .days{
        font-size: 1.2rem;
    }
} */

/* @media (min-width: 460px){
     .carousel-square{
        margin-top: -2.5rem;
     }
}

@media (min-width: 538px){
    .carousel-square{
        margin-top: -1.5rem;
    }

} */

/* 1024 ipad */

/* @media (min-width: 640px) {
    .services-expanded .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .service-item {
      flex-direction: row;
      align-items: center;
    }
    .service-item .price {
      margin-top: 0;
    }
    .service-details .item {
      flex-direction: row;
      align-items: center;
    }
    .service-details .item .price {
      margin-top: 0;
    }
  }
  
  @media (min-width: 1024px) {
    .services-expanded .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .services-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  } */