body{
    background-color: #FFEBEB;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D7A7AA;
    z-index: 100;
    width: 100%;
}

#logo{
    width: 168;
}

#hamburger{
    scale: 0.35;
    padding-left: 3rem;
}

button{
    background-color: transparent;
    border: none
}

.welcome, .services-overview, .visit-us{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    color: #552611;
    width: 100%;
}

.welcome h2, .services-overview h2{
    font-family: "Corinthia", cursive;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    margin-bottom: 0;
}

.welcome h1{
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    color: #C39C00;
    margin-top: 0;
}

.carousel-square{
    position: absolute;
    margin-top: -5rem;
    width: 10.2rem;
    height: 15.8rem;
    background-color: #E8CDCC;
    border-radius: 2rem;
    border: 2px solid white;
}

.welcomeImg{
    position: relative;
    width: 13rem;
    height: 14rem;
    border-radius: 3rem;
    margin-top: 1rem;
    z-index: 1;
}

.welcome p{
    font-family: "Jost", sans-serif;
    letter-spacing: 0.01rem;
    width: 85%;
    margin: 3rem auto;
}

.welcome p+p{
    margin-top: -1.5rem;
}

.service-categories, .service1, .service2, .service3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-overview {
    margin-top: -2rem;
    background-color: #F6D2D1;
}

.services-overview h2 {
    color: #C39C00;
    margin-bottom: 0;
}

.services-overview h3 {
    width: 80%;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: -0.2rem;
}

.circle {
    position: relative;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 5px 3px #a67578);
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
}

.service-name {
    font-family: "Jost", sans-serif;
    color: white;
    background-color: #D7A7AA;
    padding: 0.3rem 1.5rem;
    margin: 1rem 0;
}

.service-name:hover {
    cursor: pointer;
}

.manicure, .pedicure, .wax {
    scale: 0.15;
    position: relative;
    position: absolute;
    z-index: 2;
    margin-top: -3.3rem;
}

.manicure {
    margin-left: -16rem;
    margin-top: -12.5rem;
}

footer{
    font-family: "Jost", sans-serif;
    font-size: 0.8rem;
    background-color: #D7A7AA;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}